@model Drawing

<div class="border p-3 mt-4">
    <div class="row pb-2">
        <h2 class="test-primary">Detailed View</h2>
        <hr />
    </div>
    <div class="mb-3">
        <img width="100%" src="@Url.Action("RenderImage", new { id = Model.Id })" />
    </div>
    <a asp-controller="Drawing" asp-action="Index" class="btn btn-secondary" style="width:150px">
        Back to Drawings
    </a>
</div>
<br />
<div class="border p-3 mt-4"> 
    <a asp-controller="Drawing" asp-action="CreateComment" asp-route-id="@Model.Id"
    class="btn btn-primary mx-2"><i class="bi bi-plus-circle"></i> Add a comment</a>
    <hr />
    <table class="table table-bordered table-striped" style="width:100%">   
    <thead>
        <tr>
            <th>
                Comments
            </th>
            <th>
                Date and Time Posted
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (String comment in Model.Comment.Split("@#$%&")) 
            {
                <td>
                    @comment
                </td>
            }
            @foreach (String commentDateTime in Model.CommentDateTime.Split("@#$%&")) 
            {
                <td>
                    @commentDateTime
                </td>
            }
        </tr>
    </tbody>
</table>

</div>

@section Scripts{
    @{ 
        <partial name="_ValidationScriptsPartial" />
    }
}

